stages:
  - test
  - release

variables:
  COMPONENT_VERSION: "latest"

.Test template:
  stage: test
  interruptible: true
  rules:
    - if: '$SKIP_TESTS == "true" || $SKIP_TESTS == "yes"'
      when: never
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
      when: never
    - if: '$CI_COMMIT_BRANCH == "main"'
    - if: $CI_COMMIT_TAG
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
  coverage: "/TOTAL.+ ([0-9]{1,3}%)/"
  artifacts:
    when: always
    reports:
      junit: report.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  script:
    - uv sync --dev
    - uv run pytest --junitxml=report.xml --cov=emulator/
    - uv run coverage xml
    - uv run coverage report

.Linter template:
  stage: test
  interruptible: true
  rules:
    - if: '$SKIP_TESTS == "true" || $SKIP_TESTS == "yes"'
      when: never
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
      when: never
    - if: '$CI_COMMIT_BRANCH == "main"'
    - if: $CI_COMMIT_TAG
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
  script:
    - uv sync --dev
    - uv run ruff check emulator/ --diff
    - uv run ruff format emulator/ --check
    - uv run mypy emulator/ --ignore-missing-imports

# Python 3.9 tests
Run python v3.9 tests:
  image: "ghcr.io/astral-sh/uv:python3.9-bookworm"
  extends: .Test template

Run python v3.9 linters:
  image: "ghcr.io/astral-sh/uv:python3.9-bookworm"
  extends: .Linter template

# Python 3.10 tests
Run python v3.10 tests:
  image: "ghcr.io/astral-sh/uv:python3.10-bookworm"
  extends: .Test template

Run python v3.10 linters:
  image: "ghcr.io/astral-sh/uv:python3.10-bookworm"
  extends: .Linter template

# Python 3.11 tests
Run python v3.11 tests:
  image: "ghcr.io/astral-sh/uv:python3.11-bookworm"
  extends: .Test template

Run python v3.11 linters:
  image: "ghcr.io/astral-sh/uv:python3.11-bookworm"
  extends: .Linter template

# Python 3.12 tests
Run python v3.12 tests:
  image: "ghcr.io/astral-sh/uv:python3.12-bookworm"
  extends: .Test template

Run python v3.12 linters:
  image: "ghcr.io/astral-sh/uv:python3.12-bookworm"
  extends: .Linter template

# Python 3.13 tests
Run python v3.13 tests:
  image: "ghcr.io/astral-sh/uv:python3.13-bookworm"
  extends: .Test template

Run python v3.13 linters:
  image: "ghcr.io/astral-sh/uv:python3.13-bookworm"
  extends: .Linter template

# PyPI publishing job
Publish python module tagged release with uv:
  image: ghcr.io/astral-sh/uv:python3.12-bookworm
  stage: release
  interruptible: true
  variables:
    UV_PUBLISH_USERNAME: $PYPI_USERNAME
    UV_PUBLISH_PASSWORD: $PYPI_PASSWORD
  rules:
    - if: '$CI_COMMIT_TAG =~ /^\d+\.\d+\.\d+$/'
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
      when: never
  script:
    - sed -i "s/^version = \".*\"$/version = \"$CI_COMMIT_TAG\"/" pyproject.toml
    - uv build
    - uv publish
